# Common options
build --cxxopt "-std=c++17"
build --copt "-funsigned-char"
build --copt "-Wno-sign-compare"
build --copt "-Wno-char-subscripts"
build --host_cxxopt "-std=c++17"
build --host_copt "-funsigned-char"
build --host_copt "-Wno-sign-compare"
build --host_copt "-Wno-char-subscripts"
build --objccopt "-fsigned-char"
build --host_linkopt="-lm"
build --host_linkopt="-L/usr/local/lib"
build --copt "-I/usr/local/include"
build --copt "-I/usr/local/include/Fcitx5/Utils"
build --copt "-I/usr/local/include/Fcitx5/Core"
build --copt "-I/usr/local/include/Fcitx5/Config"
build --copt "-I/usr/local/include/Fcitx5/Module"
build --linkopt="-L/usr/local/lib"

# Linux
build:linux --define TARGET=oss_linux --copt "-fPIC"
build:oss_linux --define TARGET=oss_linux --copt "-fPIC"

# FreeBSD
build:freebsd --define TARGET=oss_freebsd --copt "-fPIC" --linkopt="-lm" --linkopt="-L/usr/local/lib"
build:oss_freebsd --define TARGET=oss_freebsd --copt "-fPIC" --linkopt="-lm" --linkopt="-L/usr/local/lib"

# macOS
build:macos --define TARGET=oss_macos
build:oss_macos --define TARGET=oss_macos

# Android
build:android --define TARGET=oss_android \
    --copt "-DOS_ANDROID" \
    --crosstool_top=//external:android/crosstool --cpu=armeabi-v7a \
    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
build:oss_android --define TARGET=oss_android \
    --copt "-DOS_ANDROID" \
    --crosstool_top=//external:android/crosstool --cpu=armeabi-v7a \
    --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
